# Explore the Trend of Redevelopment
#### Geting Trend from Existing Land Use in DC AREA
#### We decided to use the dataset of existing land use in the DC area. It records the land used for now and what the land used before. We can make a comparison and find out the interesting trend behind the redevelopment.
#### Source data: https://opendata.dc.gov/datasets/existing-land-use?geometry=-78.003%2C38.707%2C-76.026%2C39.081
#### Metadata page of source data: https://www.arcgis.com/sharing/rest/content/items/245179183eee41e08852ff9d5dbd3bcb/info/metadata/metadata.xml?format=default&output=html

## Data Cleaning/Wrangling

In [97]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [98]:
# import data file
df = pd.read_csv("Existing_Land_Use.csv")
df

E:\anaconda\ana\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,OBJECTID,OP_LAYER,CNT_OP_LAYER,MIN_DXF_LAYER,AREAKM,AREAMILES,WAT,WAT_ID,WAT_CODE,WAT_NAME,...,GIS_ID,SQR_NUM,LU_CODE,QCFLAG,OLD_LU_CD,ISVACANT,HASBLDG,VACTYPE,SHAPE_Length,SHAPE_Area
0,1,NaN,0,NaN,177,69,0,0,0,NaN,...,3187,3187,MDR,nan,C,NaN,NaN,NaN,322,4489
1,2,NaN,0,NaN,177,69,0,0,0,NaN,...,3357,3357,C,nan,C,NaN,NaN,NaN,262,4207
2,3,NaN,0,NaN,177,69,0,0,0,NaN,...,3357,3357,C,nan,C,NaN,NaN,NaN,210,2011
3,4,NaN,0,NaN,177,69,0,0,0,NaN,...,NaN,NaN,TROW,nan,R,NaN,NaN,NaN,257,410
4,5,NaN,0,NaN,177,69,0,0,0,NaN,...,NaN,NaN,R,nan,R,NaN,NaN,NaN,1427,49140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55244,55245,NaN,0,NaN,177,69,0,0,0,NaN,...,0454,0454,MU,nan,C,NaN,NaN,NaN,406,6784
55245,55246,NaN,0,NaN,177,69,0,0,0,NaN,...,0376,0376,C,nan,NaN,y,y,VB,219,2522
55246,55247,NaN,0,NaN,177,69,0,0,0,NaN,...,0377,0377,C,nan,C,y,y,VB,166,1662
55247,55248,NaN,0,NaN,177,69,0,0,0,NaN,...,0227,0227,FP,nan,O,NaN,NaN,NaN,374,8352
55248,55249,NaN,0,NaN,177,69,0,0,0,NaN,...,0227,0227,FP,nan,O,NaN,NaN,NaN,733,28857

In [99]:
# We only need Ward_ID, LU_CODE, OLD_LU_CD,SHAPE_Length,SHAPE_Area Columns
# Drop all the other columns
df1 = df.drop(columns=['OBJECTID', 'OP_LAYER','CNT_OP_LAYER','MIN_DXF_LAYER',\
                 'AREAKM','AREAMILES','WAT','WAT_ID','WAT_CODE','WAT_NAME',\
                 'DXF_LAYER','SQRSUF','GIS_ID','SQR_NUM','QCFLAG','ISVACANT',\
                'HASBLDG','VACTYPE'])

# Change Column name and code name in LU_CODE and OLD_LU_CODE
# For Easy understanding purpose
# For Easy observing purpose
df2 = df1.rename(columns={"LU_CODE": "Land_use_code", "OLD_LU_CD": "Old_Land_use_code"})
df2['Land_use_code'] = df2['Land_use_code'].replace(['LDR'],'Low Densit Residential')
df2['Land_use_code'] = df2['Land_use_code'].replace(['LMDR'],'Low-Medium Density Residential')
df2['Land_use_code'] = df2['Land_use_code'].replace(['MDR'],'Medium Density Residential')
df2['Land_use_code'] = df2['Land_use_code'].replace(['HDR'],'High Density Residential')
df2['Land_use_code'] = df2['Land_use_code'].replace(['GC','NC','C','O'],'Commercial')
df2['Land_use_code'] = df2['Land_use_code'].replace(['TCU'],'Transport, Communication, Utilities')
df2['Land_use_code'] = df2['Land_use_code'].replace(['HI','I','LI'],'Industrial')
df2['Land_use_code'] = df2['Land_use_code'].replace(['MU'],'Mixed Use')
df2['Land_use_code'] = df2['Land_use_code'].replace(['S'],'Institutional')
df2['Land_use_code'] = df2['Land_use_code'].replace(['FP'],'Federal Public')
df2['Land_use_code'] = df2['Land_use_code'].replace(['LP'],'Local Police')
df2['Land_use_code'] = df2['Land_use_code'].replace(['PQP-I'],'Public, Quasi-Public, Insitutional')
df2['Land_use_code'] = df2['Land_use_code'].replace(['R'],'Parks and Open Spaces')
df2['Land_use_code'] = df2['Land_use_code'].replace(['PARKING'],'Parking')
df2['Land_use_code'] = df2['Land_use_code'].replace(['ROADS'],'Roads')
df2['Land_use_code'] = df2['Land_use_code'].replace(['ALLEYS'],'Alleys')
df2['Land_use_code'] = df2['Land_use_code'].replace(['MEDIAN'],'Median')
df2['Land_use_code'] = df2['Land_use_code'].replace(['TROW'],'Transporation Right of Way')
df2['Land_use_code'] = df2['Land_use_code'].replace(['CANAL','RIVER','LAKE'],'Water')
df2['Land_use_code'] = df2['Land_use_code'].replace(np.nan,'Undetermined')

df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['LDR'],'Low Densit Residential')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['MDR'],'Medium Density Residential')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['LMDR'],'Low-Medium Density Residential')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['HDR'],'High Density Residential')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['GC','NC','C','O'],'Commercial')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['TCU'],'Transport, Communication, Utilities')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['HI','I','LI'],'Industrial')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['MU'],'Mixed Use')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['S'],'Institutional')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['FP'],'Federal Public')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['LP'],'Local Police')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['PQP-I'],'Public, Quasi-Public, Insitutional')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['R'],'Parks and Open Spaces')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['PARKING'],'Parking')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['ROADS'],'Roads')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['ALLEYS'],'Alleys')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['MEDIAN'],'Median')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['TROW'],'Transporation Right of Way')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['CANAL','RIVER','LAKE'],'Water')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(np.nan,'Undetermined')
df2['Old_Land_use_code'] = df2['Old_Land_use_code'].replace(['V','VB','VL'],'Undetermined')
df2

,WARD_ID,Land_use_code,Old_Land_use_code,SHAPE_Length,SHAPE_Area
0,4,Medium Density Residential,Commercial,322,4489
1,4,Commercial,Commercial,262,4207
2,4,Commercial,Commercial,210,2011
3,0,Transporation Right of Way,Parks and Open Spaces,257,410
4,0,Parks and Open Spaces,Parks and Open Spaces,1427,49140
...,...,...,...,...,...
55244,2,Mixed Use,Commercial,406,6784
55245,2,Commercial,Undetermined,219,2522
55246,2,Commercial,Commercial,166,1662
55247,2,Federal Public,Commercial,374,8352
55248,2,Federal Public,Commercial,733,28857

In [100]:
# Generate a .csv file of the cleaned Dataset
pd.DataFrame(df2).to_csv("Land_use_cleaned.csv", index=False)

## Data Analysis

### 1: Given a overall comparison

In [101]:
# Given a overview of different facilities in land use 
print(df2['Land_use_code'].value_counts())
print('\n')
print(df2['Old_Land_use_code'].value_counts())

Transporation Right of Way             11182
Alleys                                 10628
Low-Medium Density Residential          8610
Low Densit Residential                  7825
Commercial                              4722
Medium Density Residential              2477
Parks and Open Spaces                   2327
Median                                  1827
Roads                                   1700
Institutional                           1189
High Density Residential                 422
Federal Public                           372
Local Police                             372
Undetermined                             369
Industrial                               360
Water                                    331
Transport, Communication, Utilities      293
Public, Quasi-Public, Insitutional       139
Mixed Use                                 50
Parking                                   42
TRAFFICIS                                 12
Name: Land_use_code, dtype: int64


Undetermined                           16357
Alleys                                 10629
Low-Medium Density Residential          7331
Low Densit Residential                  5954
Commercial                              3618
Parks and Open Spaces                   2298
Medium Density Residential              2231
Public, Quasi-Public, Insitutional      1955
Median                                  1826
Roads                                   1696
Transport, Communication, Utilities      340
High Density Residential                 339
Water                                    331
Industrial                               286
Transporation Right of Way                22
Mixed Use                                 16
TRAFFICIS                                 12
Parking                                    8
Name: Old_Land_use_code, dtype: int64

In [107]:
# Put them into a dataframe
df3 = df2['Land_use_code'].value_counts().rename_axis('Facilities').reset_index(name='Recent_LU_Counts')
df4 = df2['Old_Land_use_code'].value_counts().rename_axis('Facilities').reset_index(name='Old_LU_Counts')
LU_comparison = df3.merge(df4,how= 'outer')
LU_comparison['Old_LU_Counts'] = LU_comparison['Old_LU_Counts'].replace(np.nan,0)

# Export as .csv File
pd.DataFrame(LU_comparison).to_csv("LU_comparison.csv", index=False)
LU_comparison

                             Facilities  Recent_LU_Counts  Old_LU_Counts
0            Transporation Right of Way             11182             22
1                                Alleys             10628          10629
2        Low-Medium Density Residential              8610           7331
3                Low Densit Residential              7825           5954
4                            Commercial              4722           3618
5            Medium Density Residential              2477           2231
6                 Parks and Open Spaces              2327           2298
7                                Median              1827           1826
8                                 Roads              1700           1696
9                         Institutional              1189              0
10             High Density Residential               422            339
11                       Federal Public               372              0
12                         Local Police               372              0
13                         Undetermined               369          16357
14                           Industrial               360            286
15                                Water               331            331
16  Transport, Communication, Utilities               293            340
17   Public, Quasi-Public, Insitutional               139           1955
18                            Mixed Use                50             16
19                              Parking                42              8
20                            TRAFFICIS                12             12

#### By comparing the land use at different times, we find that the undetermined lands are decreasing and used for different purposes. Most of the facilities lands tend to increase, including residential lands, commercial lands, etc.

### 2: Getting trend in different Wards

In [174]:
# Using the cleaned dataset 
# Getting dataframe of the current land use in different ward
df_p1 = df2.drop(columns = ['Old_Land_use_code','SHAPE_Length','SHAPE_Area'])

# Multiple Grouping and counting
ward_cur=df_p1.groupby(['WARD_ID','Land_use_code'],as_index = False)['Land_use_code'].agg({'Num_facilities':'count'})
print(ward_cur)
# Pivot the table, long to wide 
ward_cur = ward_cur.pivot_table(index=['Land_use_code'], 
                    columns='WARD_ID', 
                    values='Num_facilities')
ward_cur = ward_cur.fillna(0)

     WARD_ID                        Land_use_code  Num_facilities
0          0                               Alleys            7167
1          0                           Commercial              48
2          0                       Federal Public             195
3          0             High Density Residential               2
4          0                           Industrial              21
..       ...                                  ...             ...
169        8                                Roads             150
170        8           Transporation Right of Way              15
171        8  Transport, Communication, Utilities              20
172        8                         Undetermined              36
173        8                                Water              15

[174 rows x 3 columns]

In [189]:
# Current land use in different Ward
pd.DataFrame(ward_cur).to_csv("ward_cur.csv", index=False)
ward_cur

WARD_ID,0,1,2,3,4,5,6,7,8
Land_use_code,,,,,,,,,
Alleys,7167,256,325,431,630,555,443,562,259
Commercial,48,568,1120,285,394,520,923,450,414
Federal Public,195,1,77,16,11,8,55,4,5
High Density Residential,2,102,130,67,30,14,43,12,22
Industrial,21,26,29,1,17,155,89,15,7
Institutional,27,116,286,121,133,138,149,135,84
Local Police,32,41,70,28,30,30,70,37,34
Low Densit Residential,12,113,247,1672,1410,994,132,2544,701
Low-Medium Density Residential,2,792,959,556,1141,1332,1309,1562,956
Median,1588,4,34,65,17,30,41,16,32
Medium Density Residential,14,351,377,142,182,202,238,526,445
Mixed Use,0,7,25,5,2,0,10,0,1
Parking,5,0,17,6,0,1,13,0,0
Parks and Open Spaces,1245,72,218,149,107,103,178,164,91
"Public, Quasi-Public, Insitutional",7,20,14,3,24,22,17,16,16
Roads,339,56,191,272,165,176,209,142,150
TRAFFICIS,8,0,0,0,0,0,4,0,0
Transporation Right of Way,10957,3,26,43,28,19,20,14,15
"Transport, Communication, Utilities",58,5,20,6,43,111,20,10,20
Undetermined,0,3,46,64,33,38,42,107,36
Water,199,1,38,9,3,7,19,40,15

In [177]:
# Getting dataframe of the past land use in different ward
df_p2 = df2.drop(columns = ['Land_use_code','SHAPE_Length','SHAPE_Area'])

# Multiple Grouping and counting
ward_past=df_p2.groupby(['WARD_ID','Old_Land_use_code'],as_index = False)['Old_Land_use_code'].agg({'Num_facilities':'count'})
print(ward_past)
# Pivot the table, long to wide 
ward_past = ward_past.pivot_table(index=['Old_Land_use_code'], 
                    columns='WARD_ID', 
                    values='Num_facilities')
ward_past = ward_past.fillna(0)

     WARD_ID                    Old_Land_use_code  Num_facilities
0          0                               Alleys            7167
1          0                           Commercial              35
2          0                           Industrial              14
3          0               Low Densit Residential               5
4          0                               Median            1588
..       ...                                  ...             ...
131        8   Public, Quasi-Public, Insitutional             142
132        8                                Roads             150
133        8  Transport, Communication, Utilities               3
134        8                         Undetermined             775
135        8                                Water              15

[136 rows x 3 columns]

In [190]:
# Past land use in different Ward
pd.DataFrame(ward_past).to_csv("ward_past.csv", index=False)
ward_past

WARD_ID,0,1,2,3,4,5,6,7,8
Old_Land_use_code,,,,,,,,,
Alleys,7167,256,325,431,630,555,443,562,258
Commercial,35,465,1088,220,338,348,742,213,169
High Density Residential,0,97,86,58,27,14,33,10,14
Industrial,14,28,36,2,19,71,96,13,7
Low Densit Residential,5,86,217,1408,1209,776,89,1655,507
Low-Medium Density Residential,0,714,843,535,1082,1119,1081,1181,774
Median,1588,4,34,65,17,29,41,16,32
Medium Density Residential,12,324,401,141,167,175,240,404,366
Mixed Use,0,1,8,6,0,0,1,0,0
Parking,3,0,3,0,0,0,2,0,0
Parks and Open Spaces,1253,71,212,140,105,95,166,163,91
"Public, Quasi-Public, Insitutional",275,167,365,146,194,203,266,197,142
Roads,338,56,188,272,165,176,209,142,150
TRAFFICIS,8,0,0,0,0,0,4,0,0
Transporation Right of Way,7,1,0,0,12,0,2,0,0
"Transport, Communication, Utilities",73,2,5,0,38,207,10,2,3
Undetermined,10949,264,400,508,394,680,580,1758,775
Water,199,1,38,9,3,7,19,40,15

#### By using these two data frames, we can get an insight into the trend of different Wards.

### 3: Calulate the area used for different facilities

In [181]:
area_cal = df2.drop(columns = ['WARD_ID','SHAPE_Length'])
area_cal

                    Land_use_code      Old_Land_use_code  SHAPE_Area
0      Medium Density Residential             Commercial        4489
1                      Commercial             Commercial        4207
2                      Commercial             Commercial        2011
3      Transporation Right of Way  Parks and Open Spaces         410
4           Parks and Open Spaces  Parks and Open Spaces       49140
...                           ...                    ...         ...
55244                   Mixed Use             Commercial        6784
55245                  Commercial           Undetermined        2522
55246                  Commercial             Commercial        1662
55247              Federal Public             Commercial        8352
55248              Federal Public             Commercial       28857

[55249 rows x 3 columns]

In [191]:
area_curr=area_cal.groupby(['Land_use_code'],as_index = False)['SHAPE_Area'].agg({'Total_Area':'sum'})
pd.DataFrame(area_curr).to_csv("area_curr.csv", index=False)
area_curr

                          Land_use_code  Total_Area
0                                Alleys     3001974
1                            Commercial     7930983
2                        Federal Public    11525231
3              High Density Residential     1667317
4                            Industrial     1710617
5                         Institutional     8862328
6                          Local Police     4918155
7                Low Densit Residential    20900585
8        Low-Medium Density Residential    16086286
9                                Median      455544
10           Medium Density Residential     7734056
11                            Mixed Use      379944
12                              Parking      247995
13                Parks and Open Spaces    32359765
14   Public, Quasi-Public, Insitutional      351655
15                                Roads    20092690
16                            TRAFFICIS        2951
17           Transporation Right of Way    17063026
18  Transport, Communication, Utilities     3480613
19                         Undetermined      194467
20                                Water    18498046

In [192]:
area_past=area_cal.groupby(['Old_Land_use_code'],as_index = False)['SHAPE_Area'].agg({'Total_Area':'sum'})
pd.DataFrame(area_past).to_csv("area_past.csv", index=False)
area_past

                      Old_Land_use_code  Total_Area
0                                Alleys     3001567
1                            Commercial     7589726
2              High Density Residential     1363997
3                            Industrial     1208054
4                Low Densit Residential    19560636
5        Low-Medium Density Residential    15395849
6                                Median      454439
7            Medium Density Residential     7634818
8                             Mixed Use       97662
9                               Parking       78744
10                Parks and Open Spaces    29750683
11   Public, Quasi-Public, Insitutional    24906131
12                                Roads    20092638
13                            TRAFFICIS        2951
14           Transporation Right of Way       22166
15  Transport, Communication, Utilities     5327613
16                         Undetermined    22478506
17                                Water    18498046

#### We can compare the area size used in different facilities at different times.

## Visualization
#### Because presenting the visualization in the python file has many limitations, all the visualization will be presented by Tableau. 
#### Tableau URL: https://public.tableau.com/profile/tianyi.li4471#!/vizhome/447Final/1_1?publish=yes